Subject: Welcome to SchoolLink

Hi {{ user.first_name }},

Welcome to SchoolLink! Your child's teacher, from their school, has added you to our communication platform to make staying updated simple and easy.

To get started and view messages, assignments, and school events, please set up a password for your account by clicking the link below:

Set Up Your Account: {{ setup_link }}

This secure link will expire in 24 hours.

If you did not expect this invitation, please ignore this email.

© {{ current_year }} SchoolLink. All rights reserved.
